@font-face
{
    font-family: Early GameBoy;
    src:url(../fonts/Early-GameBoy.ttf);
}

@font-face
{
    font-family: Animation101;
    src:url(../fonts/Animation101.ttf);
}

#topper
{
    background-color: #bacff4;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    height: 8vh;
    
    overflow: hidden;
}

#home
{
    background-image: url(../img/bluelightning_logohand.png);
    background-image: url(../img/NewLogo_BL_typo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#home:hover,#jogos:hover, #blog:hover, #contato:hover, #sobre_mim:hover, .redes_sociais:hover
{
    background-color: #b79ddd;
}

#home,#jogos,#blog,#contato,#sobre_mim
{
    height: 100%;
    width: 12.5vw;
    float: left;
    text-align: center;
    line-height: 8vh;
}

a
{
    color: #000;
}

.page
{
    margin-right: -8px;
    margin-left: -8px;
    height: 88vh;
    
    background-color: azure;
}

#page_index
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-image: url(../img/NewLogo_BL_page.png);
}

#page_jogos
{
    display: table; /* acho que o Display:table resolveu meu problema, mas é uma gambiarra né X_x */
}


#bem_vindo
{
    height: 75vh;
    width: 30vw;
    background-color: rgba(183,157,221,0.5);
    position: absolute;
    margin-top: 5vh;
    margin-left: 5vw;
    border-radius: 3vw;
}

#bem_vindo:hover
{
    background-color: #b79ddd;
}

#txt_bem_vindo
{
    opacity: 1;
    font-size: 300%;
    padding: 1.9vw;
    text-align: center;
    font-family: fantasy;
    font-family: Early Gameboy;
    font-family: Animation101;
}

#portfolio
{
    text-decoration: none;
    color: #ff0000;
}

#portfolio:visited
{
    color: #c10000;    
}

body
{
    background-color: #000;
}

#body_index, #body_contato, #body_sobre_mim
{
    overflow-y:hidden; /* isso aqui é pra esconder as barrinha ^^ só o Y dava né? */
    overflow-x:hidden;
}

#bottom
{
    color: #FFF;
    background-color: #000;  
    height: 4vh;
    width: 100%;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    line-height: 4vh;
    overflow: auto;
}

.celula_de_jogo
{
    background-color: #fff;
    border: 1px solid #000;
    /*height: 38vh;
    width: 29.5vw;*/
    margin-left: 5vh;
    margin-top: 5vh;
    float: left;
    
    width: 570px;
    height: 360px;
    
    border-radius: 50px;
    overflow: hidden;
    /* tou achando que é melhor eu colocar 570x360 as caixas, porque aí elas podem cair pra baixo de acordo com o tamanho da janela né? hmm */  
}

.celula_de_jogo:hover
{
    border-radius: 0px;
}

#celula_ultima
{
    margin-bottom: 5vh; /* gambiarrinha pra última celula_de_jogo empurrar o footer pra baixo ^^', enfim */
}

.banner
{
    width: 570px;
    height: 288px;
}

.info
{
    padding: 10px;
    background-color: #fff;
    font-size: 15pt;
    text-align: justify;
}

#aleatorium
{
    background-image: url(../img/banner_aleatorium.jpg);
    background-size: cover;
}
#vitaminator
{
    background-image: url(../img/banner_vitaminator.jpg);
    background-size: cover;

}

#projetomonster
{
    background-image: url(../img/banner_projetomonster.png);
    background-size: cover;
}

#tolgarrunner
{
    background-image: url(../img/banner_tolgarrunner.png);
    background-size: cover;
}

#forcaBL
{
    background-image: url(../img/banner_forca.png);
}
#cobrinha
{
    background-image: url(../img/banner_cobrinha.png);
    background-size: contain;
}
#pshot
{
    background-image: url(../img/banner_pshot.png);
    background-size: cover;
}

#kuroneko
{
    background-image: url(../img/banner_hitthekuroneko.png);
    background-size: cover;
}

#kuronekophaser
{
    background-image: url(../img/banner_hitthekuronekophaser.png);
    background-size: cover;
}

#gamebook
{
    background-image: url(../img/banner_gamebook.png);
    background-size: cover;
}

#protectarthur
{
    background-image: url(../img/banner_protectarthur.jpg);
    background-size: cover;
}

#romabingo
{
    background-image: url(../img/banner_RomaBingo2.png);
    background-size: cover;
}

#perninhaHGJ2016
{
    background-image: url(../img/banner_Perninha.png);
    background-size: cover;
}

#gododger
{
    background-image: url(../img/banner_GoDodger.png);
    background-size: cover;
}

#aleatorium,#vitaminator,#projetomonster,#tolgarrunner, #forcaBL, #cobrinha, #pshot, 
#kuroneko, #gamebook, #kuronekophaser, #protectarthur, #romabingo, #perninhaHGJ2016,
#gododger
{
    opacity: 1.0;
}

#aleatorium:hover, #vitaminator:hover,#projetomonster:hover, #tolgarrunner:hover, 
#forcaBL:hover, #cobrinha:hover, #pshot:hover, #kuroneko:hover, #gamebook:hover,
#kuronekophaser:hover, #protectarthur:hover, #romabingo:hover, #perninhaHGJ2016:hover,
#gododger:hover
{
    filter: saturate(2);
}

.redes_sociais
{
    margin: auto;
    background-color: #bacff4;
    width: 30vw;
    margin-bottom: 5vh;
    height: 10vh;
    
    position: relative;
    top: 25%;
}

.img_redes_sociais
{
    width: 10vh;
    position: relative;
    float: left;
    height: 100%;
}

.txt_redes_sociais
{
    position: relative;
    left: 3%;
    top: 20%;
    height: 100%;
}

#facebook
{
    background-image: url(../img/facebook.png);
    background-size: cover;
}

#instagram
{
    background-image: url(../img/instagram.png);
    background-size: cover;
}

#linkedin
{
    background-image: url(../img/linkedin.png);
    background-size: cover;    
}

#eunabig
{
    position: relative;
    top: 10%;
    left: 77%;
    height: 70vh;  
    width: 19.2vw;
}

#txt_sobre_mim
{
    position: absolute;
    top: 20%;
    left: 7%;
    height: 70vh;  
    width: 66vw;
    font-size: 100%;
    text-align: justify;
}