/**** COLORS ****/
#topper, .redes_sociais
{
    background-color: #bacff4;
}

#bem_vindo:hover, .menu:hover, .redes_sociais:hover
{
    background-color: #b79ddd;
    transition: all 0.5s ease;
}

#bem_vindo
{
    background-color: rgba(183,157,221,0.5);
}

.page
{
    background-color: azure;
}

a
{
    color: #000;
}

#portfolio
{
    text-decoration: none;
    color: #ff0000;
}

#portfolio:visited
{
    color: #c10000;    
}

body
{
    background-color: #000;
}

#bottom
{
    color: #FFF;
    background-color: #000;
}

.celula_de_jogo, .celula_de_jogo_ultima, .info
{
    background-color: #fff;
}

/**** FONTS ****/
@font-face
{
    font-family: Early GameBoy;
    src:url(../fonts/Early-GameBoy.ttf);
}

@font-face
{
    font-family: Animation101;
    src:url(../fonts/Animation101.ttf);
}

#topper
{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    height: 8vh;
}

#home
{
    background-image: url(../img/bluelightning_logohand.png);
    background-image: url(../img/NewLogo_BL_typo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.menu
{
    height: 100%;
    width: 12.5vw;
    float: left;
    text-align: center;
    line-height: 8vh;
    overflow: hidden; /* Pra sumir com o (DEVLOGS, e o /REDES SOCIAIS, se não couber */
}

.page
{
    margin-right: -8px;
    margin-left: -8px;
    height: 88vh;
}

#page_index
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-image: url(../img/NewLogo_BL_page.png);
}

#page_jogos
{
    display: table; /* acho que o Display:table resolveu meu problema, mas é uma gambiarra né X_x */
}


#bem_vindo
{
    height: 75vh;
    width: 30vw;
    position: absolute;
    margin-top: 5vh;
    margin-left: 5vw;
    border-radius: 3vw;
}

#txt_bem_vindo
{
    opacity: 1;
    font-size: 300%;
    padding: 1.9vw;
    text-align: center;
    font-family: fantasy;
    font-family: Early Gameboy;
    font-family: Animation101;
}

#body_index, #body_contato, #body_sobre_mim
{
    overflow-y:hidden; /* isso aqui é pra esconder as barrinha ^^ só o Y dava né? */
    overflow-x:hidden;
}

#bottom
{
    height: 4vh;
    width: 100%;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    line-height: 4vh;
    overflow: auto;
}

.celula_de_jogo, .celula_de_jogo_ultima
{
    border: 1px solid #000;
    /*height: 38vh;
    width: 29.5vw;*/
    margin-left: 5vh;
    margin-top: 5vh;
    float: left;
    
    width: 570px;
    height: 360px;
    
    border-radius: 50px;
    overflow: hidden;
    /* tou achando que é melhor eu colocar 570x360 as caixas, porque aí elas podem cair pra baixo de acordo com o tamanho da janela né? hmm */  
}

.celula_de_jogo:hover, .celula_de_jogo_ultima:hover
{
    border-radius: 0px;
}

.celula_de_jogo_ultima
{
    margin-bottom: 5vh; /* gambiarrinha pra última celula_de_jogo empurrar o footer pra baixo ^^', enfim */
}

.banner
{
    width: 570px;
    height: 288px;
}

.info
{
    padding: 10px;
    font-size: 15pt;
    text-align: justify;
}

#aleatorium, #vitaminator, #projeto_monster, #tolgar_runner, #forca_bl, #cobrinha_bl,
#pshot, #kuroneko_canvas, #yc_gamebook, #kuroneko_phaser, #protect_arthur, #roma_bingo,
#perninha_hgj_2016, #go_dodger
{
    opacity: 1.0;
}

#aleatorium:hover, #vitaminator:hover, #projeto_monster:hover, #tolgar_runner:hover, 
#forca_bl:hover, #cobrinha_bl:hover, #pshot:hover, #kuroneko_canvas:hover, 
#yc_gamebook:hover, #kuroneko_phaser:hover, #protect_arthur:hover, #roma_bingo:hover, 
#perninha_hgj_2016:hover, #go_dodger:hover
{
    filter: saturate(2);
}

.redes_sociais, .img_redes_sociais, .txt_redes_sociais
{
    position: relative;
}

.redes_sociais
{
    margin: auto;
    width: 50vw;
    margin-bottom: 5vh;
    height: 10vh;
    
    top: 25%;
}

.img_redes_sociais
{
    width: 10vh;
    float: left;
    height: 100%;
}

.txt_redes_sociais
{
    left: 3%;
    top: 20%;
    height: 100%;
}

#facebook
{
    background-image: url(../img/facebook.png);
    background-size: cover;
}

#instagram
{
    background-image: url(../img/instagram.png);
    background-size: cover;
}

#linkedin
{
    background-image: url(../img/linkedin.png);
    background-size: cover;
}

#eu_na_big
{
    position: relative;
    top: 10%;
    left: 77%;
    height: 70vh;
    width: 19.2vw;
}

#txt_sobre_mim
{
    position: absolute;
    top: 20%;
    left: 7%;
    height: 70vh;
    width: 66vw;
    font-size: 100%;
    text-align: justify;
}

/***** MOBILE *****/

@media screen and (max-width: 768px)
{
    .menu 
    {
        float: none;
        width: 100%;
        align-items: center;
        display: inline-block;
        height: 50px;
        background-position: center;
        padding: 15px 0px;
    }

    #topper
    {
        height: auto;
    }

    #jogos, #contato
    {
        background-color: #9db6e0;
    }

    .celula_de_jogo, .celula_de_jogo_ultima
    {
        width: 80vw;
        background-size: cover;
        height: 57vh;
    }

    #txt_sobre_mim, #eu_na_big
    {
        position: relative;
        width: 88%;
        height: auto;
        left: 20px;
    }

    #txt_sobre_mim
    {
        font-size: 19px;
        top: 20px;
    }

    .page
    {
        padding: 50px 0;
        height: auto;
    }

    #eu_na_big
    {
        top: 50px;
        padding: 0 0 50px;
    }

    .redes_sociais
    {
        width: 90%;
        margin: auto;
        background-color: azure;
    }

    .txt_redes_sociais
    {
        font-size: 14px;
    }

    #body_index, #body_contato, #body_sobre_mim
    {
        overflow-y:scroll;
        overflow-x:scroll;
    }

    #bem_vindo
    {
        background-color: #b79ddd;
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
        position: relative;
        border-radius: 8vw;
    }
}