
/**** FONTS ****/
@font-face
{
    font-family: Early GameBoy;
    src:url(../fonts/Early-GameBoy.ttf);
}

@font-face
{
    font-family: Animation101;
    src:url(../fonts/Animation101.ttf);
}

body
{
    background-image: url(../img/background_boardgame_273257.png);
    background-size: cover;
}

#bem_vindo:hover, .menu:hover, .redes_sociais:hover, .game_each_filter:hover, .reset_filter
{
    transition: all 0.5s ease;
    cursor: pointer;
}

#portfolio
{
    text-decoration: none;
}

#topper
{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    height: 8vh;
    font-weight: bold;
}

#home
{
    background-image: url(../img/NewLogo_BL_typo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.menu
{
    height: 100%;
    width: 12.5vw;
    float: left;
    text-align: center;
    line-height: 8vh;
    overflow: hidden; /* Pra sumir com o (DEVLOGS, e o /REDES SOCIAIS, se não couber */
}

.page
{
    margin-right: -8px;
    margin-left: -8px;
    height: 88vh;
}

#page_jogos
{
    display: table; /* acho que o Display:table resolveu meu problema, mas é uma gambiarra né X_x */
}

#bem_vindo
{
    height: 75vh;
    width: 30vw;
    position: absolute;
    margin-top: 5vh;
    margin-left: 5vw;
    border-radius: 1vw;
}

#bem_vindo:hover
{
    border-radius: 0vw;
}

#txt_bem_vindo
{
    opacity: 1;
    font-size: 300%;
    padding: 1.9vw;
    text-align: center;
    font-family: fantasy;
    font-family: Early Gameboy;
    font-family: Animation101;
}

#body_index, #body_contato, #body_sobre_mim
{
    overflow-y:hidden; /* isso aqui é pra esconder as barrinha ^^ só o Y dava né? */
    overflow-x:hidden;
}

#bottom
{
    position: fixed;
    bottom: 0px;
    height: 4vh;
    width: 100%;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    line-height: 4vh;
    overflow: auto;
}

.celula_de_jogo, .celula_de_jogo_ultima
{
    border: 1px solid #000;
    /*height: 38vh;
    width: 29.5vw;*/
    margin-left: 5vh;
    margin-top: 5vh;
    float: left;
    
    width: 570px;
    height: 360px;
    
    border-radius: 50px;
    overflow: hidden;
    /* tou achando que é melhor eu colocar 570x360 as caixas, porque aí elas podem cair pra baixo de acordo com o tamanho da janela né? hmm */  
}

.celula_de_jogo:hover, .celula_de_jogo_ultima:hover
{
    border-radius: 0px;
}

.celula_de_jogo_ultima
{
    margin-bottom: 5vh; /* gambiarrinha pra última celula_de_jogo empurrar o footer pra baixo ^^', enfim */
}

.banner
{
    width: 570px;
    height: 288px;
}

.banner:hover
{
    filter: saturate(2);
}

.info
{
    padding: 10px;
    font-size: 15pt;
    text-align: justify;
}

.redes_sociais, .img_redes_sociais, .txt_redes_sociais
{
    position: relative;
}

.redes_sociais
{
    margin: auto;
    width: 50vw;
    margin-bottom: 5vh;
    height: 10vh;
    
    top: 25%;
}

.img_redes_sociais
{
    width: 10vh;
    float: left;
    height: 100%;
}

.txt_redes_sociais
{
    left: 3%;
    top: 20%;
    height: 100%;
}

#eu_na_big
{
    position: relative;
    top: 10%;
    left: 77%;
    height: 70vh;
    width: 19.2vw;
}

#txt_sobre_mim
{
    position: absolute;
    top: 20%;
    left: 7%;
    height: 70vh;
    width: 66vw;
    font-size: 100%;
    text-align: justify;
}

.game_filters
{
    padding: 20px;
    display: flex;
}

.reset_filter
{
    margin-right: 100px;
}

.game_each_filter
{
    margin-left: 30px;
    min-width: 150px;
    text-align: center;
}

/***** MOBILE *****/

@media screen and (max-width: 768px)
{
    #bem_vindo, .menu, .game_filters, .game_each_filter, .reset_filter
    {
        width: 100%;
    }

    .menu
    {
        float: none;
        align-items: center;
        display: inline-block;
        height: 50px;
        padding: 0px 0px 25px;
    }
    
    .game_filters
    {
        display: inline-block;
        padding: 0;
    }

    .game_each_filter, .reset_filter
    {
        margin-left: 0px;
        height: 30px;
        padding: 15px 0 0 0;
    }

    #topper
    {
        height: auto;
    }

    .celula_de_jogo, .celula_de_jogo_ultima
    {
        width: 80vw;
        background-size: cover;
        height: 57vh;
    }

    #txt_sobre_mim, #eu_na_big
    {
        position: relative;
        width: 88%;
        height: auto;
        left: 20px;
    }

    #txt_sobre_mim
    {
        font-size: 19px;
        top: 20px;
    }

    .page
    {
        padding: 50px 0;
        height: auto;
    }

    #eu_na_big
    {
        top: 50px;
        padding: 0 0 50px;
    }

    .redes_sociais
    {
        width: 90%;
        margin: auto;
    }

    .txt_redes_sociais
    {
        font-size: 14px;
    }

    #body_index, #body_contato, #body_sobre_mim
    {
        overflow-y:scroll;
        overflow-x:scroll;
    }

    #bem_vindo
    {
        margin: 0;
        padding: 0;
        height: auto;
        position: relative;
        border-radius: 8vw;
    }
}